/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

/**
* Font Family
 */

/* ibarra-real-nova-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/ibarra-real-nova-v6-latin-regular.woff2') format('woff2'),
    url('../fonts/ibarra-real-nova-v6-latin-regular.woff') format('woff');
}

/* ibarra-real-nova-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/ibarra-real-nova-v6-latin-700.woff2') format('woff2'),
    url('../fonts/ibarra-real-nova-v6-latin-700.woff') format('woff');
}

/* public-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/public-sans-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/public-sans-v5-latin-regular.woff') format('woff');
}

/* public-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/public-sans-v5-latin-700.woff2') format('woff2'),
    url('../fonts/public-sans-v5-latin-700.woff') format('woff');
}

/* public-sans-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('../fonts/public-sans-v5-latin-italic.woff2') format('woff2'),
    url('../fonts/public-sans-v5-latin-italic.woff') format('woff');
}

/* public-sans-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
    url('../fonts/public-sans-v5-latin-700italic.woff2') format('woff2'),
    url('../fonts/public-sans-v5-latin-700italic.woff') format('woff');
}

:root {

    /**
     * colors
     */

    /* gradient */
    --linear-black: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%);
    --linear-white: linear-gradient(
            to top,
            hsl(0, 0%, 100%) 100%,
            hsl(0, 0%, 100%) 60.19%
    );

    /* solid */
    --primary: #5fb4a2;
    --secondary: #203A4c;
    --grey-dark: #33323d;
    --grey-light: #eaeaeb;
    --grey-lighter: #fafafa;
    --errors: #f43030;


    /**
     * typography
     */

    /* font-size */
    --fs-1: 7.2rem;
    --fs-2: 4.8rem;
    --fs-3: 4rem;
    --fs-4: 3.2rem;
    --fs-5: 2.4rem;
    --fs-7: 1.5rem;

    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    /**
     * shadow
     */


    /**
     * transition
     */

    /**
    * Utilisation
     */
    --txt: var(--grey-dark);
    --title: ;
    --bg: ;
    --px: ;
    --mb: 3.2rem;

}

:focus {
    outline: 2px solid var(--primary);
    outline-offset: 1rem;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container {
    position: relative;
    width: 100%;
    max-width: 119rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: var(--mb);
}

/*-----------------------------------*\
  #Media Queries
\*-----------------------------------*/

@media screen and (min-width : 36em) {

}

@media screen and (min-width : 41em) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width : 60em) {

}

@media screen and (min-width : 75em) {

}


